* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	margin: 0;
	font-family: 'Poppins', 'Roboto', '-apple-system', 'BlinkMacSystemFont',
		'Arial', 'sans-serif';
	background-color: whitesmoke;
}
.slide-enter,
.slide-exit {
	transition: transform 200ms ease-out;
}

.slide-enter {
	transform: translateX(100%);
}

.slide-enter.slide-enter-active {
	transform: translateX(0%);
}

.slide-exit {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	transform: translateX(0%);
}

.slide-exit-active {
	transform: translateX(-100%);
}
